# frontend url
NEXT_PUBLIC_FRONTEND_URL=

# backend url
BACKEND_URL=
NEXT_PUBLIC_BACKEND_URL=

# socket io url
NEXT_PUBLIC_SOCKET_IO_URL=

# the base url of the server where better auth is
NEXT_PUBLIC_BETTER_AUTH_URL=

