# backend url
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:8000

# frontend url
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# backend url
BACKEND_URL=http://localhost:8000
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

# socket io
NEXT_PUBLIC_SOCKET_IO_URL=http://localhost:8000
